extends layout

block content
  .dashboard-wrapper
    .container-fluid.dashboard-content
      .row
        .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
          #basicform.section-block
            h3.section-title Add New Admin

          .card
            .card-body
              form(method="post" action="/users/addAdmin")
                
                if errors
                  each error in errors
                    .alert.alert-danger(role='alert') #{error}
                     
                .form-group
                  label.col-form-label First Name
                  input.form-control.form-control-lg(type='text' name='firstname' required='false' autocomplete='off')
                .form-group
                  label.col-form-label Last Name
                  input.form-control.form-control-lg(type='text' name='lastname' required='false' autocomplete='off')
                .form-group
                  label.col-form-label Username
                  input.form-control.form-control-lg(type='text' name='username' required='true'  autocomplete='off')
                .form-group
                  label.col-form-label E-mail
                  input.form-control.form-control-lg(type='email' name='email' required='true'  autocomplete='off')
                .form-group
                  label.col-form-label Password
                  input#pass1.form-control.form-control-lg(type='password' name='password' required='true' )
                .form-group
                  label.col-form-label Retype Password
                  input#pass1.form-control.form-control-lg(type='password' name='retypePassword' required='true' )
                button.btn.btn-primary.m-t-30(type='submit') Add New Admin