extends layout_login

block content
  form.splash-container(method="post" action="/register")
    .card
      .card-header
        h3.mb-1 Registrations Form
        p Please enter your user information.
      .card-body
        .form
          .form-group
            input.form-control.form-control-lg(type='text' name='firstname' required='false' placeholder='First name' autocomplete='off')
          .form-group
            input.form-control.form-control-lg(type='text' name='lastname' required='false' placeholder='Last name' autocomplete='off')
          .form-group
            input.form-control.form-control-lg(type='text' name='username' required='true' placeholder='Username' autocomplete='off')
          .form-group
            input.form-control.form-control-lg(type='email' name='email' required='true' placeholder='E-mail' autocomplete='off')
          .form-group
            input#pass1.form-control.form-control-lg(type='password' name='password' required='true' placeholder='Password')
          //- .form-group
          //-   input.form-control.form-control-lg(type='password' required='true' placeholder='Confirm password')
          //- .form-group.pt-2
          button.btn.btn-block.btn-primary(type='submit') Register My Account
        //- .form-group.row.pt-0
        //-   .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12.mb-2
        //-     button.btn.btn-block.btn-social.btn-facebook(type='button') Facebook
        //-   .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
        //-     button.btn.btn-block.btn-social.btn-twitter(type='button') Twitter
      .card-footer.bg-white
        p
          | Already member? 
          a.text-secondary(href='/login') Login Here.